@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  color: #FFF8E7;
}

body {
  background-color: #FFF8E7;
  font-family: 'PT Sans', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto .5fr auto;
  gap: 20px;
}

.additional-grid {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.additional-grid-item {
  padding: 20px;
  color: #25272b;
}

.additional-grid-item .title {
  text-align: center;
  color: #25272b;
}

.additional-grid-item p {
  margin-left: 25%;
  color: #000000;
}

.education-text {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
  margin-bottom: 45px;
  margin-top: 50px;
}

.title {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.header {
  text-decoration: underline;
}

h2 {
    font-size: 28px;
    margin-top: 10px;
}

img {
  width: 100%;
  height: auto;
}

.banner {
  background-color: #25272b;
  grid-column: 1 / -1;
}

.card {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #25272b;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  
}

button {
  background-color: rgb(23, 8, 236);
  padding: 10px;
  border-radius: 15px;
  margin-top: 15px;
}

.moreInfo h2 {
  font-size: 26px;
  text-decoration: underline;
  margin-top: 10px;
}
