@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #FFF8E7;
  font-family: 'PT Sans', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto .5fr auto;
  gap: 20px;
}

.education-text {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
  margin-bottom: 45px;
  margin-top: 50px;
}

h2 {}

img {
  width: 100%;
  height: auto;
}

.banner {
  background-color: #25272b;
  grid-column: 1 / -1;
}

.card {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #25272b;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  color: #333;
}

button {
  background-color: rgb(23, 8, 236);
  padding: 10px;
}